<div class="input-group mb-3 mt-4">
  <input type="text" class="form-control" (change)="filterActors($event)" placeholder="Search for an actor">
  <button class="btn btn-outline-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Actors List</button>
  <ul class="dropdown-menu dropdown-menu-end">
    <li *ngFor="let actor of filteredActorsList">
      <a class="dropdown-item" (click)="addActorFromList(actor)">{{actor}}</a>
    </li>
  </ul>
</div>

<div [formGroup]="actorsForm">
  <label class="form-label">Actor name(s)</label>
  <ng-container formArrayName="actors">
    <ng-container *ngFor="let actor of actors.controls; let i = index">
      <div class="mb-3">
        <div class="actor-container">
          <button type="button" class="btn btn-danger remove-button" [hidden]="actors.length<=1" (click)="removeActor(i)"><i class="bi bi-dash-lg"></i></button>
          <input type="text" [formControlName]="i" class="form-control" id="inputActors-{{i}}" [class.is-invalid] = "actors.at(i).invalid && actors.at(i).touched">
        </div>
        <div [hidden]="actors.at(i).valid || actors.at(i).untouched">
          <p class="text-danger" *ngIf="actors.at(i).errors?.['required']">
            Actor name is required
          </p>
        </div>
      </div>
    </ng-container>
  </ng-container>
  <button type="button" class="btn btn-primary add-button" (click)="addActor()"><i class="bi bi-plus-lg"></i></button>
</div>

<div class="alert alert-danger alert-dismissible fade show" role="alert" *ngIf="duplicateActor">
  <strong>Duplicate:</strong> Actor already in the list.
  <button type="button" class="btn-close" data-bs-dismiss="alert" (click)="closeAlert()" aria-label="Close"></button>
</div>